[Unit]
Description=Stream Master File System (SMFS)
After=network.target

[Service]
ExecStart=/usr/local/bin/smfs --config /etc/smfs/smconfig.json
Restart=always
User=smfs
Group=smfs
WorkingDirectory=/var/lib/smfs
Environment=LOG_LEVEL=info
EnvironmentFile=-/etc/smfs/env

[Install]
WantedBy=multi-user.target
